.productOverview {
  width: 100%;
  background-color: #fff;
  .productOverview__header {
    position: relative;
    width: 100%;
    .productOverview__imgContainer {
      min-height: 1rem;
      .productOverview__img {
        width: 100%;
        min-height: 1rem;
        display: block;
      }
    }

    .productOverview__baseInfo {
      position: absolute;
      z-index: 999;
      bottom: 0;
      left: 0;
      padding: 0.1rem 0.15rem;
      width: 100%;
      box-sizing: border-box;
      background: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        from(rgba(0, 0, 0, 0)),
        to(rgba(0, 0, 0, 0.6))
      );
      .productOverview__title {
        color: #fff;
        font-size: 0.16rem;
        font-weight: 400;
        line-height: 0.18rem;
        margin-bottom: 0.1rem;
      }
      
      .productOverview__content {
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 0.12rem;
        line-height: 0.14rem;
      }
    }
  }

  .productOverview__purchase {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 0.8rem;
    line-height: 0.8rem;
    -webkit-box-pack: justify;
    background: url("https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/repeat-x.png")
      repeat-x 0 bottom;
    background-size: auto 0.1rem;
    .productOverview__qhjpart {
      height: 0.3rem;
      line-height: 0.3rem;
      margin-top: 0.2rem;
      display: flex;
      flex-direction: row;
      padding-left: 0.15rem;
      .productOverview__symbol {
        width: 0.6rem;
        height: 0.2rem;
        line-height: 0.2rem;
        display: inline-block;
        font-size: 0.12rem;
        font-weight: bold;
        background: #e0007b;
        border-radius: 0.15rem;
        text-align: center;
        color: #fff;
      }
      .productOverview__price {
        color: #e0007b;
        font-size: 0.15rem;
        height: 0.2rem;
        line-height: 0.2rem;
        margin-left: 0.1rem;
      }
    }
    .productOverview__oripart {
      height: 0.3rem;
      line-height: 0.3rem;
      display: flex;
      flex-direction: row;
      margin-left: 0.15rem;
      margin-right: 0.15rem;
      justify-content: space-between;
      
      .productOverview__price--old {
        color: #8c8c8c;
        font-size: 0.14rem;
        height: 0.3rem;
        line-height: 0.3rem;
        text-decoration: line-through;
      }
      .productOverview__sale {
        height: 0.3rem;
        line-height: 0.3rem;
        color: #999;
        font-size: 0.11rem;
        margin-right: 0.3rem;
      }
    }
  }

}
  

  