.likeList {
  background-color: #fff;
  .likeList__header {
    height: 0.03rem;
    line-height: 0.04rem;
    padding-left: 0.15rem;
    font-size: 0.14rem;
    color: #777;
  }
  .likeList__viewAll {
    display: block;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    background-color: #fff;
    color: #333;
    font-size: 0.15rem;
  }
}
  

  

  