.maxDiv {
  width: 100%;
  text-align: center;
  .textSty {
    text-align: center;
    font-size: 0.14rem;
    margin: 0 auto;
    width: 90%;
    height: 0.3rem;
    line-height: 0.3rem;
    display: inline-block;
  }
}

