.category {
  text-align: center;
  border-top: solid 0.01rem #e1e1e1;
  border-bottom: solid 0.01rem #e1e1e1;
  padding: 0 0 0.3rem;
  color: #333;
  background-color: #fff;
  .category__section {
    width: 20%;
    padding: 0.13rem 0 0;
    float: left;
    font-size: 0.13rem;
    text-align: center;
    .category__icon {
      width: 0.44rem;
      height: 0.44rem;
      margin: 0 auto 0.02rem;
      .category__text {
        display: inline-block;
        vertical-align: top;
        margin: 0;
      }
    }
  }

}
.slick-dots li {
  margin: 0;
}

.slick-dots li.slick-active button:before {
  color: #f5734b;
}
  

  

  

  
