.Footer__div {
    &:after{
        display: block;
        height: 0.5rem;
        content: '';
    }
    .Footer__footer{
        position: fixed;
        width: 100%;
        height: 0.5rem;
        line-height: 0.5rem;
        background-color: #e0007b;
        color: #fff;
        padding: 0 0.1rem;
        text-align: center;
        display: -webkit-box;
        z-index: 305;
        box-sizing: border-box;
        .tab__div {
            flex:1;
            flex-direction: column;
            .tab__text {
                height: 0.5rem;
                line-height: 0.5rem;
                color: #666;
                font-size: 0.14rem;
            }
        }
    }
}