.Footer__div {
    &:after{
        display: block;
        height: 0.5rem;
        content: '';
    }
    .Footer__footer{
        position: fixed;
        width: 100%;
        height: 0.5rem;
        line-height: 0.5rem;
        background-color: #fff;
        color: #666;
        padding: 0 0.1rem;
        text-align: center;
        display: -webkit-box;
        z-index: 305;
        box-sizing: border-box;
        bottom: 0;
        border-top: 0.01rem solid #eee;
        .tab__div {
            display: inline-block;
            width: 100%;
            height: 0.5rem;
            line-height: 0.5rem;
            color: #666;
            font-size: 0.14rem;
        }
    }
}