.confirm {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 300;
  position: fixed;
  .confirm__alert {
    width: 2.8rem;
    background: #fff;
    border-radius: 0.1rem;
    left: 50%;
    top: 50%;
    border: 0.01rem solid #efefef;
    margin: -0.5rem 0 0 -1.4rem;
    z-index: 10000002;
    position: fixed;
    text-align: center;
  }
  .confirm__content {
    padding: 0.2rem;
    border-bottom: solid 0.01rem #efefef;
  }
  .confirm__btns {
    font-size: 0.14rem;
    height: 0.4rem;
    line-height: 0.4rem;
    .confirm__btn {
      color: #08c;
      float: left;
      width: 50%;
      height: 100%;
      box-sizing: border-box;
    }
  }
}
  

  

  

  

  