.userCard__Max {
  display: flex;
  flex-direction: column;
  align-items: center;
  .userCard__card {
    width: 88%;
    height: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.2rem;
    border-radius: 0.08rem;
    border: 0.01rem solid #eee;
    background-image: url('../../../../images/aboutme.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    .userCard__img {
      width: 0.6rem;
      height: 0.6rem;
      line-height: 0.6rem;
      margin-left: 0.2rem;
      border-radius: 0.3rem;
      border: 0.01rem solid #eee;
      background-color: #fff;
      background-image: url('../../../../images/backgroundPic.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .userCard__name {
      margin-left: 0.2rem;
      color: #fff;
      font-size: 0.16rem;
    }
  }
}