.buyButton {
  display: block;
  height: 0.4rem;
  margin: 0.1rem 0.09rem;
  color: #fff;
  background-color: #e0007b;
  border-radius: 0.04rem;
  text-align: center;
  line-height: 0.4rem;
  font-size: 0.18rem;
}