.keywordBox {
  background-color: #f0f0f0;
  padding: 0.02rem 0.1rem 0.07rem;
  .keywordBox__text {
    width: 100%;
    height: 0.34rem;
    display: block;
    color: #646464;
    line-height: 0.34rem;
    padding-left: 0.35rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    position: relative;
    background-color: #fff;
    &:before {
      content: "";
      display: block;
      width: 0.08rem;
      height: 0.08rem;
      border: 0.01rem solid #888;
      border-radius: 0.11rem;
      position: absolute;
      left: 0.14rem;
      bottom: 0.14rem;
    }
    &:after {
      content: "";
      display: block;
      border-top: 0.01rem solid #888;
      border-radius: 0.09rem;
      position: absolute;
      left: 0.21rem;
      bottom: 0.13rem;
      width: 0.06rem;
      height: 0;
      transform: rotate(45deg);
    }
  }
}
  