.Footer__div {
    &:after{
        display: block;
        height: 0.5rem;
        content: '';
    }
    .Footer__footer{
        position: fixed;
        width: 100%;
        height: 0.5rem;
        line-height: 0.5rem;
        background-color: #fff;
        color: #666;
        padding: 0 0.1rem;
        text-align: center;
        display: -webkit-box;
        z-index: 305;
        box-sizing: border-box;
        bottom: 0;
        border-top: 0.01rem solid #eee;
        display: flex;
        flex-direction: row;
        .tab__div {
            width: 50%;
            height: 0.5rem;
            line-height: 0.5rem;
            color: #666;

            .active {
                color: #e0007b
            }

            .iconfont {
                height: 0.25rem;
                line-height: 0.25rem;
                display: block;
                font-size: 0.2rem;
            }
            .textPart {
                height: 0.25rem;
                line-height: 0.25rem;
                display: block;
                font-size: 0.12rem;
            }
        }
    }
}